@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro:200';

/*
 * BODY & DISPLAY CONTAINERS
 * BUTTONS & LINKS
 * FORMS
 * IMAGE STYLES
 * TEXT STYLES
 * 
 * RESPONSIVE MEDIA
 *
 */

/* BODY & DISPLAY CONTAINERS */

body {
    background-color: #111314;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-space {
    justify-content: space-around;
}

.flex-align-center {
    align-items: center;
}

.header-bar {
    padding-bottom: 0.5%;
}

.invisible {
    opacity: 0;
    transition: all 1.5s ease-in-out;
}

.nodisplay {
    display: none;
}

.visible {
    opacity: 0.5;
    transition: all 1.5s ease-in-out;
}

.welcome-container {
    color: #FFFFFF;
    font-family: 'Source Code Pro', monospace;
    font-size: .8em;
    margin-top: 5%;
}

/* BUTTONS & LINKS */

a {
    text-decoration: none;
}

.button {
    background-color: transparent;
    border: none;
    font-family: 'Source Code Pro', monospace;
    margin-top: 5%;
    text-transform: uppercase;
}

.button-clear {
    color: #89BDEF;
    display: block;
    font-size: 1em;
    margin-top: 2.5%;
    
    transition: all 0.1s ease-in-out;
}

.button-clear:visited {
    color: #89BDEF;
}

.button-clear:hover {
    color: #00D8CB;
    
    transform: scale(0.9);
}

.button-header:nth-child(2) {
    border-bottom: solid 2px #F384CA;
    color: #F384CA;
}

.button-header:nth-child(3) {
    border-bottom: solid 2px #00D8CB;
    color: #00D8CB;
}

.button-header:nth-child(4) {
    border-bottom: solid 2px #FF5656;
    color: #FF5656;
}

.button-header:nth-child(5) {
    border-bottom: solid 2px #89BDEF;
    color: #89BDEF;
}

.button-outline {
    color: #F384CA;
    border: solid 2px #F384CA;
    border-radius: 10px;
    font-size: 2.5em;
    padding: 10px;
    margin-top: 5%;
    
    transition: all 0.1s ease-in-out;
}

.button-outline:visited {
    color: #F384CA;
}

.button-outline:hover {
    color: #00D8CB;
    border: solid 2px #00D8CB;
    
    transform: scale(0.9);
}

/* FORMS */

.user-form {
    margin-top: 5%;
}

.user-form input {
    border: none;
    border-bottom: solid 2px #454e55;
    color: #FFFFFF;
    background-color: transparent;
    display: block;
    font-family: 'Source Code Pro', monospace;
    font-size: 2em;
    margin-top: 2.5%;
    padding-bottom: 2.5%;
    width: 100%;
    
    transition: all 1.5s ease-in-out;
}

.user-form input:focus {
    border-bottom: solid 2px #FFFFFF;
    outline: none;
}

.user-form input.ng-valid.ng-touched {
    color: #00D8CB;
    transition: color 1.5s ease-in-out;
}

.user-form input.ng-invalid.ng-touched {
    color: #FF5656;
    transition: color 1.5s ease-in-out;
}

.user-form input::-webkit-input-placeholder {
    color: #454E55;
}

/* IMAGE STYLES */

.lineart-home {
    position: fixed;
    z-index: -1;
}

.lineart-signin {
    position: fixed;
    top: -30%;
    z-index: -1;
}

.logo {
    width: 75%;
}

.logo-header {
    margin-top: -1%;
    padding-right: 1%;
}

.logo-game {
    margin-top: 2%;
    width: 25%
}

/* TEXT STYLES */

em {
    font-size: 1.25em;
    font-style: normal;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

/* RESPONSIVE MEDIA */

@media (min-width: 1040px) {
    .button-header {
        align-self: flex-start;
        margin-top: 0;
        padding-bottom: .5%;
        width: 20%;
    }
    
    .lineart-home {
        left: 50%;
        top: -15%;
        transform: scale(0.75);
    }
    
    .lineart-signin {
        left: 33.33%;
        position: fixed;
        opacity: 1;
    }
    
    .logo-header {
        width: 20%;
    }
    
    .welcome-container {
        width: 33.33%;
    }
}

@media (min-width: 801px) and (max-width: 1040px) {
    .button-header {
        align-self: flex-start;
        padding-bottom: .5%;
        width: 20%;
        min-height: 40px;
    }
    
    .lineart-home {
        left: 40%;
        top: -10%;
        transform: scale(0.75);
    }
    
    .lineart-signin {
        left: 33.33%;
        position: fixed;
        opacity: 1;
    }
    
    .logo-header {
        width: 20%;
    }
    
    .welcome-container {
        width: 33.33%;
    }
}

@media (min-width: 481px) and (max-width: 800px) {
    .button-header {
        align-self: flex-start;
        padding-bottom: .5%;
        width: 25%;
        min-height: 40px;
    }
    
    .lineart-home {
        left: 40%;
        top: -5%;
        transform: scale(0.5);
    }
    
    .lineart-signin {
        left: 30%;
        opacity: .5;
    }
    
    .logo-header {
        opacity: .1;
        position: absolute;
        top: 15%;
    }
    
    .welcome-container {
        width: 75%;
    }
}

@media (max-width: 480px) {
    .button-header {
        align-self: flex-start;
        font-size: .75em;
        padding-bottom: .5%;
        width: 25%;
        min-height: 40px;
    }
    
    .lineart-home {
        left: 0;
        top: 0;
        transform: scale(0.5);
    }
    
    .lineart-signin {
        left: -15%;
        opacity: .25;
    }
    
    .logo-header {
        opacity: .1;
        position: absolute;
        top: 15%;
    }
    
    .welcome-container {
        width: 100%;
    }
}