<div id="soraka" class="lineart-home invisible visible"></div>
<div id="amumu" class="lineart-home invisible visible"></div>
<div id="fiora" class="lineart-home invisible visible"></div>
<div id="ahri" class="lineart-home invisible visible"></div>
<div id="annie" class="lineart-home invisible visible"></div>
<div id="janna" class="lineart-home invisible visible"></div>

<div class="flex flex-column">
    
    <!-- Header bar   -->
    <header class="flex flex-justify-space header-bar">
        <img src="../../img/logo/logo_playstadium.svg" class="logo-header" alt="Play Stadium">
        <a href="#/createchamp" 
           class="button button-clear button-header text-center">Create championship</a>
        <a href="#/viewchamp" 
           class="button button-clear button-header text-center">View my championships</a>
        <a href="#/profile"
           class="button button-clear button-header text-center">Edit my profile</a>
        <a href="#/logout"
           class="button button-clear button-header text-center">Log me out</a>
    </header>
</div>