<header class="header-bar">
    <a href="#/home">
        <img src="img/logo/logo.svg" class="header-bar-left" id="logo-header" 
             alt="Play Stadium">
    </a>
    <a href="#/mychampionships" class="header-bar-left">Meus campeonatos</a>
    <a href="#/createchampionships" class="header-bar-left">Criar campeonatos</a>
    <a href="#/login" class="header-bar-right">Logout</a>
</header>

<div id="card-hidden">
    em breve<br>
    <img src="img/ticket/pokemonshowdown-logo.png" alt="Pokémon Showdown" id="card-image">
    <img src="img/ticket/pokeball.png" alt="Pokémon Showdown" id="card-image-right">
</div>

<div id="slideshow">
    <img src="img/slideshow/img1.jpg" alt="League of Legends no Play Stadium" id="slide">
</div>

<div class="flex-row-container">
    <section class="box-container box-news">
        <h3 class="news-header">{{news}}</h3>
        <h2 class="news-headline">Jogadores de Dota descobrem LoL e começam a migrar para ele</h2>
        <img src="img/home/news/dota.png" alt="Dota is so 2013" class="img-news">
        <p class="news-content">Neste ultimo domingo, ao abrir o feed de noticias de seu facebook, Carlos Alberto, ex-jogador do jogo <em>home-made</em> conhecido como "Dota", se deparou com uma notícia do League of Legends. Ao pesquisar mais a respeito, ele ficou intrigado com os ótimos efeitos gráficos e alta jogabilidade, e contou para seus colegas a respeito. Todos ficaram espantandos, e começaram a abandonar o Dota e criar contas no League of Legends.</p>
    </section>

    <section class="box-container box-news">
        <h3 class="news-header">{{news}}</h3>
        <h2 class="news-headline">Atualização do League of Legends irá levar menos de dois dias agora</h2>
        <img src="img/home/news/tempo.jpg" alt="Já acabou Jéssica?" class="img-news">
        <p class="news-content">Com o lançamento do <em>patch</em> de Março/2016, a jogadora Jéssica começou a atualizar o seu jogo e, para isso, ela teve que deixar o seu computador ligado 24h por dia para atualizar o mais rápido possivel. Após 7 dias com seu computador ficou ligado, a atualização terminou – entretanto, a atualizacao da semana seguinte já havia sido lancada. Jéssica provocou um barraco nas redes sociais, xingou muito no Twitter, e finalmente a comunidade League of Legends decidiu otimizar o seu processo de atualização.</p>
    </section>
</div>

<div class="flex-row-container">
    <section class="box-container box-news">
        <h3 class="news-header">{{patchnews}}</h3>
        <h2 class="news-headline">Agora será preciso mais de um dedo para jogar com Master Yi</h2>
        <img src="img/home/news/master-yi.jpg" alt="Master Yi is noob material" class="img-news">
        <p class="news-content">Após o acontecido da partida de Mar/26 do CBLoL, em que o jogador Lucas deixou o seu copo de água cair no teclado e que fez o mesmo dar um <em>pentakill</em> enquanto jogava de Master Yi, a comunidade League of Legends decidiu fazer magias mais elaboradas para o campeão com o objetivo de passar a exigir de seus jogadores alguma habilidade técnica. Com o lançamento do <em>patch</em>, comecaram a ocorrer manifestos via Twitter com o elevado uso das hashtags <strong>#voltaMasterYi</strong> <strong>#naoConsigoMaisJogar</strong> <strong>#deDiamanteParaBronze</strong>.</p>
    </section>

    <section class="box-container box-news">
        <h3 class="news-header">{{pacthnews}}</h3>
        <h2 class="news-headline">Soraka recebeu mais <em>buffs</em> em suas magias</h2>
        <img src="img/home/news/soraka.jpg" alt="Soraka is too much" class="img-news">
        <p class="news-content">No último <em>patch</em> lançado, a campea Soraka recebeu buff em suas magias após a comunidade League of Legends perceber que os times que possuiam a campea como aliada tinham um <em>win-rate</em> de apenas 90%. Com o intuito de atingir 100%, a sua habilidade Q agora recebe um HoT que pode ser passado adiante para um aliado atraves da habilidade W.</p>
    </section>
</div>