<header class="header-bar">
    <a href="#/home">
        <img src="img/logo/logo.svg" class="header-bar-left" id="logo-header" 
             alt="Play Stadium">
    </a>
    <a href="#/error" class="header-bar-left">Meus campeonatos</a>
    <a href="#/createchampionships" class="header-bar-left">Criar campeonatos</a>
    <a href="#/login" class="header-bar-right">Logout</a>
</header>

<div id="card-hidden">
    em breve<br>
    <img src="img/ticket/pokemonshowdown-logo.png" alt="Pokémon Showdown" id="card-image">
    <img src="img/ticket/pokeball.png" alt="Pokémon Showdown" id="card-image-right">
</div>

<div class="flex-row-container">
    <section class="box-container box-news">
        <h3 class="news-header">ERROR 404</h3>
        <img src="img/error/amumu.png" alt="Amumur wants to be your friend" class="img-news">
        <p class="news-content">Aparentemente não há nada para você nesta página... a não ser eu. Por acaso você não quer ser meu amigo?</p>
    </section>
</div>