<div id="annie" class="lineart-signin"></div>

<div class="flex flex-column container container-welcome">

    <!-- Welcome header -->
    <header class="flex flex-column flex-align-center">
        <img src="../../img/logo/logo_playstadium.svg" class="logo" alt="Play Stadium">
        <span>YOUR <em>E-CHAMPIONSHIP MANAGER</em> FOR</span>
        <img src="../../img/logo/logo_leagueoflegends.svg" class="logo-game" alt="League of Legends">
    </header>

    <!-- Login form -->
    <form name="loginForm" class="user-form" method="post" action="/users/login/">
        <input type="email" name="email" placeholder="email" required
               ng-model="user.email">
        <input type="password" name="password" placeholder="password" required
               ng-minlength="6" ng-model="user.password">

        <a href="#/forgot" class="button button-clear">Forgot your password?</a>

        <div class="flex flex-column flex-align-center">
            <button type="submit" href="#/home" class="button button-outline"
               ng-disabled="loginForm.$invalid">Login</button>

            <a href="#/signup" class="button button-clear text-center">
                Or click here to<br><em>sign up</em></a>
            </a>
        </div>
    </form>

    <pre> user = {{ user | json }}</pre>

</div>
