<div class="flexbox-row">

    <div id="logo"></div>

    <!--    <div class="container-round">-->

    <!--
        <header class="welcome-header">
            <p>bem-vindo ao seu<br><em>e-championship<br>manager</em> para</p>
            <img src="../../img/logo/logo_leagueoflegends.svg" class="logo-game" alt="League of Legends">
        </header>
        
        <form name="loginForm" class="user-form">
            <input type="text" name="username" placeholder="nome de usuário" required
                   ng-minlength="3" ng-model="user.username">
            <input type="password" name="password" placeholder="senha" required
                   ng-minlenght="3" ng-model="user.password">
            
            <button class="button-clear">
                <a href="#/forgotpassword">Esqueceu sua senha?</a>
            </button>
            
            <button class="button-block" type="submit"
                    ng-disabled="loginForm.$invalid">
                <a href="#/home">Entrar</a>
            </button>
            
            <button class="button-clear">
                <a href="#/signup">Ou clique aqui para<br>criar uma nova conta</a>
            </button>
        </form>
-->
</div>