<!doctype html>
<html ng-app="playstadiumApp">
    <head>
        <meta charset="utf-8">
        
        <!-- AngularJS & AngularJS Route -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>

        <!-- Stylesheet -->
        <link href="css/stylesheet.css" rel="stylesheet">
    </head>
    
    <body>
        <!-- The scripts inside this tag are for test purpose only!
        Each view has its own markup inside the templates page -->
        
         <!-- Login view -->
        <script type="text/ng-template" id="www/templates/login/login.html">
            <div class="flex-center-column-container">
                <img src="img/logo/logo.svg" id="logo" alt="Welcome to Play Stadium">
                
                <section class="box-container box-signin">
                    <header class="horizontal-inline-center">
                        bem-vindo ao seu<br><em>e-championship manager</em> para<br>
                        
                        <div class="flex-center-row-container">
                            <img src="img/logo/leagueoflegends-logo.png" id="logo-game"
                                 alt="League of Legends">
                        </div>
                    </header>
                    
                    <form name="loginForm">
                        <input type="text" name="username" placeholder="nome de usuário" 
                               ng-minlength="3" ng-model="newuser.username" required>
                        <input type="password" name="password" placeholder="senha" 
                               ng-minlength="3" ng-model="newuser.password" required>
                    </form>
                    
                    <button class="button-clear">
                        <a href="#/forgotpassword">Esqueceu sua senha?</a>
                    </button>

                    <button class="button-block" type="submit" 
                            ng-disabled="loginForm.$invalid">
                        <a href="#/home">Entrar!</a>
                    </button>
                    
                    <button class="button-clear">
                        <a href="#/signup">Ou clique aqui para<br>criar uma nova conta</a>
                    </button>
                    
                    <!--
                        Angular test:
                        <pre>user = {{user | json}}</pre>
                        <pre>newuser = {{newuser | json}}</pre>
                    -->
                </section>
            </div>
        </script>
        
        <!-- Signup view -->
        <script type="text/ng-template" id="www/templates/signup/signup.html">
            <div class="flex-center-column-container">
                <img src="img/logo/logo.svg" id="logo" alt="Welcome to Play Stadium">
                
                <section class="box-container box-signin">
                    <header class="horizontal-inline-center">
                        comece já a usar seu<br><em>e-championship manager</em> para<br>
                        
                        <div class="flex-center-row-container">
                            <img src="img/logo/leagueoflegends-logo.png" id="logo-game"
                                 alt="League of Legends">
                        </div>
                    </header>
                    
                    <form name="signupForm">
                        <input type="text" name="username" placeholder="nome de usuário" 
                               ng-minlength="3" ng-model="user.username" required>
                        <input type="text" name="usernameconf" placeholder="confirmar nome de usuário"
                               ng-minlenght="3" ng-model="user.usernameconf" required>
                        <input type="email" name="email" placeholder="email" 
                               ng-minlength="3" ng-model="user.email" required>
                        <input type="email" name="emailconf" placeholder="confirmar email"
                               ng-minlenght="3" ng-model="user.emailconf" required>
                        <input type="password" name="password" placeholder="senha" 
                               ng-minlength="3" ng-model="user.password" required>
                        <input type="password" name="passwordconf" placeholder="confirmar senha" 
                               ng-minlength="3" ng-model="user.passwordconf" required>
                    </form>

                    <button class="button-block" type="submit" 
                            ng-disabled="signupForm.$invalid">
                        <a href="#/home">Registrar!</a>
                    </button>
                    
                    <button class="button-clear">
                        <a href="#/login">Voltar para o login</a>
                    </button>
                    
                    <!-- <pre>user = {{user | json}}</pre> -->
                </section>
            </div>
        </script>
        
        <!-- Forgot Password view -->
        <script type="text/ng-template" id="www/templates/forgotpassword/forgotpassword.html">
            <div class="flex-center-column-container">
                <img src="img/logo/logo.svg" id="logo" alt="Welcome to Play Stadium">
                
                <section class="box-container box-signin">
                    Digite seu email abaixo para receber uma nova senha. Ela será enviada dentro de instantes.
                    <form name="forgotpasswordForm">
                        <input type="email" name="email" placeholder="type your email here"
                               ng-model="user.email" required>
                    </form>
                    
                    <button class="button-block" type="submit" 
                            ng-disabled="forgotpasswordForm.$invalid">Enviar email</button>
                    
                    <button class="button-clear">
                        <a href="#/login">Voltar para o login</a>
                    </button>
                </section>
            </div>
        </script>
        
        <!-- Home view -->
        <script type="text/ng-template" id="www/templates/home/home.html">
            <header class="header-bar">
                <a href="#/home">
                    <img src="img/logo/logo.svg" class="header-bar-left" id="logo-header" 
                         alt="Play Stadium">
                </a>
                <a href="#/mychampionships" class="header-bar-left">Meus campeonatos</a>
                <a href="#/createchampionships" class="header-bar-left">Criar campeonatos</a>
                <a href="#/login" class="header-bar-right">Logout</a>
            </header>
            
            <div id="card-hidden">
                em breve<br>
                <img src="img/ticket/pokemonshowdown-logo.png" alt="Pokémon Showdown" id="card-image">
                <img src="img/ticket/pokeball.png" alt="Pokémon Showdown" id="card-image-right">
            </div>
            
            <div id="slideshow">
                <img src="img/slideshow/img1.jpg" alt="League of Legends no Play Stadium" id="slide">
            </div>
            
            <div class="flex-row-container">
                <section class="box-container box-news">
                    <h3 class="news-header">{{news}}</h3>
                    <h2 class="news-headline">Jogadores de Dota descobrem LoL e começam a migrar para ele</h2>
                    <img src="img/home/news/dota.png" alt="Dota is so 2013" class="img-news">
                    <p class="news-content">Neste ultimo domingo, ao abrir o feed de noticias de seu facebook, Carlos Alberto, ex-jogador do jogo <em>home-made</em> conhecido como "Dota", se deparou com uma notícia do League of Legends. Ao pesquisar mais a respeito, ele ficou intrigado com os ótimos efeitos gráficos e alta jogabilidade, e contou para seus colegas a respeito. Todos ficaram espantandos, e começaram a abandonar o Dota e criar contas no League of Legends.</p>
                </section>

                <section class="box-container box-news">
                    <h3 class="news-header">{{news}}</h3>
                    <h2 class="news-headline">Atualização do League of Legends irá levar menos de dois dias agora</h2>
                    <img src="img/home/news/tempo.jpg" alt="Já acabou Jéssica?" class="img-news">
                    <p class="news-content">Com o lançamento do <em>patch</em> de Março/2016, a jogadora Jéssica começou a atualizar o seu jogo e, para isso, ela teve que deixar o seu computador ligado 24h por dia para atualizar o mais rápido possivel. Após 7 dias com seu computador ficou ligado, a atualização terminou – entretanto, a atualizacao da semana seguinte já havia sido lancada. Jéssica provocou um barraco nas redes sociais, xingou muito no Twitter, e finalmente a comunidade League of Legends decidiu otimizar o seu processo de atualização.</p>
                </section>
            </div>
            
            <div class="flex-row-container">
                <section class="box-container box-news">
                    <h3 class="news-header">{{patchnews}}</h3>
                    <h2 class="news-headline">Agora será preciso mais de um dedo para jogar com Master Yi</h2>
                    <img src="img/home/news/master-yi.jpg" alt="Master Yi is noob material" class="img-news">
                    <p class="news-content">Após o acontecido da partida de Mar/26 do CBLoL, em que o jogador Lucas deixou o seu copo de água cair no teclado e que fez o mesmo dar um <em>pentakill</em> enquanto jogava de Master Yi, a comunidade League of Legends decidiu fazer magias mais elaboradas para o campeão com o objetivo de passar a exigir de seus jogadores alguma habilidade técnica. Com o lançamento do <em>patch</em>, comecaram a ocorrer manifestos via Twitter com o elevado uso das hashtags <strong>#voltaMasterYi</strong> <strong>#naoConsigoMaisJogar</strong> <strong>#deDiamanteParaBronze</strong>.</p>
                </section>

                <section class="box-container box-news">
                    <h3 class="news-header">{{pacthnews}}</h3>
                    <h2 class="news-headline">Soraka recebeu mais <em>buffs</em> em suas magias</h2>
                    <img src="img/home/news/soraka.jpg" alt="Soraka is too much" class="img-news">
                    <p class="news-content">No último <em>patch</em> lançado, a campea Soraka recebeu buff em suas magias após a comunidade League of Legends perceber que os times que possuiam a campea como aliada tinham um <em>win-rate</em> de apenas 90%. Com o intuito de atingir 100%, a sua habilidade Q agora recebe um HoT que pode ser passado adiante para um aliado atraves da habilidade W.</p>
                </section>
            </div>
        </script>
        
        <!-- My Championships view -->
        <script type="text/ng-template" id="www/templates/mychampionships/mychampionships.html">
        </script>
        
        <!-- Create Championships view -->
        <script type="text/ng-template" id="www/templates/createchampionships/createchampionships.html">
        </script>
        
        <!-- Error view -->
        <script type="text/ng-template" id="www/templates/error/error.html">
            <header class="header-bar">
                <a href="#/home">
                    <img src="img/logo/logo.svg" class="header-bar-left" id="logo-header" 
                         alt="Play Stadium">
                </a>
                <a href="#/mychampionships" class="header-bar-left">Meus campeonatos</a>
                <a href="#/createchampionships" class="header-bar-left">Criar campeonatos</a>
                <a href="#/login" class="header-bar-right">Logout</a>
            </header>
            
            <div id="card-hidden">
                em breve<br>
                <img src="img/ticket/pokemonshowdown-logo.png" alt="Pokémon Showdown" id="card-image">
                <img src="img/ticket/pokeball.png" alt="Pokémon Showdown" id="card-image-right">
            </div>
            
            <h2 id="error-block"> ERROR 404 </h2>
            <h3 id="error-message"> Aparentemente não há nada para você nesta página... a não ser eu. Por acaso você não quer ser meu amigo? </h2>
            <h3 id="error-ballon"> </h3>
            <img src="img/error/amumu.png" alt="Master Yi is noob material" id="error-img">

        </script>
        
        <div ng-view></div>
    </body>
</html>