<div id="janna" class="lineart-signin"></div>

<div class="flex flex-column container container-welcome">

    <!-- Welcome header -->
    <header class="flex flex-column flex-align-center">
        <img src="../../img/logo/logo_playstadium.svg" class="logo" alt="Play Stadium">
        <span>YOUR <em>E-CHAMPIONSHIP MANAGER</em> FOR</span>
        <img src="../../img/logo/logo_leagueoflegends.svg" class="logo-game" alt="League of Legends">
    </header>

    <!-- Signup form -->
    <form name="signupForm" class="user-form" method="post" action="/users/signup/">
        <input type="text" name="username" placeholder="username" required
               ng-minlength="3" ng-model="user.username" id="username">
        <input type="email" name="email" placeholder="email" required
               ng-minlength="3" id="email">
        <input type="email" name="emailconf" placeholder="confirm email" required
               ng-minlength="3">
        <input type="password" name="password" placeholder="password" required
               ng-minlength="3" id="password">
        <input type="password" name="passwordconf" placeholder="confirm password" required
               ng-minlength="3">

        <div class="flex flex-column flex-align-center">
            <button type="submit" href="#/home" class="button button-outline"
                    ng-click="userSignup()" ng-disabled="signupForm.$invalid">
                Sign up
            </button>

            <a href="#/login" class="button button-clear"><em>Cancel</em></a>
        </div>
    </form>

    <pre> user = {{ user | json }}</pre>

</div>
