<div class="flex-center-column-container">
    <img src="img/logo/logo.svg" id="logo" alt="Welcome to Play Stadium">

    <section class="box-container box-signin">
        Digite seu email abaixo para receber uma nova senha. Ela será enviada dentro de instantes.
        <form name="forgotpasswordForm">
            <input type="email" name="email" placeholder="type your email here"
                   ng-model="user.email" required>
        </form>

        <button class="button-block" type="submit" 
                ng-disabled="forgotpasswordForm.$invalid">Enviar email</button>

        <button class="button-clear">
            <a href="#/login">Voltar para o login</a>
        </button>
    </section>
</div>