/* CLASSES */

/* Display */

.flex-center-column-container {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    
    align-items: center;
    -webkit-align-items: center;
    
    flex-direction: column;
    -webkit-flex-direction: column;
    
    justify-content: center;
    -webkit-justify-content: center;
}

.flex-center-row-container {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    
    align-items: center;
    -webkit-align-items: center;
    
    flex-direction: row;
    -webkit-flex-direction: row;
    
    justify-content: center;
    -webkit-justify-content: center;
}

.flex-row-align-center {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    
    align-items: center;
    -webkit-align-items: center;
}

.horizontal-inline-center {
    text-align: center;
}

.horizontal-block-center {
    display: block;
    margin: 0 auto;
}

.header-bar {
    background-color: #000000;
    border-bottom: 1px solid #121212;
    color: #ffffff;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
    line-height: 3em;
    
    height: 3em;
    width: 100%;
    margin-top: -9px;
    margin-left: -9px;
    margin-right: -9px;
}

.header-bar-left {
    float: left;
    padding: 0 10px;
}

.header-bar-right {
    float: right;
    padding: 0 10px;
}

.header-bar-left > a {
    color: #ffffff;
}

/* IDs */

#input-box {
    display: block;
    margin: 0 auto;
}

#input-box > p {
    margin: 0 auto;
}

#logo {
    width: 40%;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

#logo-game {    
    width: 125px;
    padding: 5px;
}

#logo-header {
    height: 90%;
}

#sign-in-container {
    background-color: ghostwhite;
    border-radius: 15px;
    box-shadow: -5px 5px 40px 5px rgba(0,0,0,0.9);
    -webkit-box-shadow: -5px 5px 40px 5px rgba(0,0,0,0.9);
    -moz-box-shadow: -5px 5px 40px 5px rgba(0,0,0,0.9);
    
    min-width: 30%;
    max-width: 30%;
    margin-bottom: 10%;
    padding: 10px;
    opacity: 0.85;
    
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
}

/* TAGS & DERIVATED CLASSES */

a {
    color: #0c60ee;
    text-decoration: none;
}

body {
    background: url(../img/background-image/background.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-color: #212121;
    
    height: 100%;
}

button {
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Yantramanav', sans-serif;
    font-size: 1em;
    font-weight: 500; 
    
    display: block;
    margin: 5px auto;
    width: 50%;
    height: 3em;
}

button > a {
    display: inherit;
    text-align: inherit;
}

button > a:visited {
    color: #886aea;
}

.button-block {
    background-color: #0c60ee;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.button-block > a {
    color: #ffffff;
}

.button-block > a:visited {
    color: #ffffff;
}

.button-block:disabled {
    background-color: #c6c6c6;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.button-block:disabled > a {
    color: #444;
}

.button-clear {
    background-color: inherit;
    color: #0c60ee;
}

form + .button-clear {
    font-size: 0.75em;
    padding-left: 15px !important;
    
    display: inline;
    width: auto;
    height: 2em;
    margin-top: 0px !important;
}

form {
    margin-top: 20px;
    margin-bottom: 10px;
}

input {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 2.25em;
    
    background-color: inherit;
    border-top: 1px solid #c6c6c6;
    border-left: none;
    border-bottom: none;
    border-right: none;
    font-family: 'Yantramanav', sans-serif;
    font-size: 1.25em;
    font-weight: 100;
    padding: 5px;
}

input:focus::-webkit-input-placeholder {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    
    outline: none;
    font-size: 0.75em;
    visibility: visible !important;
}

input.ng-valid.ng-touched {
    color: #33cd5f;
}

input.ng-invalid.ng-touched {
    color: #ef473a;
}